/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a & */
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&family=Lato:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.cdnfonts.com/css/montserrat');
:root {
  /* change the values below to your colors from your palette */
  --primary-color: #7592BC  ;
  --secondary-color:#43a5ff ;
  --accent1-color: #E6F4F1;
  --accent2-color: #F5FAFF;
  --accent3-color: #58908B;
  

  /* change the values below to your chosen font(s) */
  --heading-font: 'Montserrat', sans-serif;
  --paragraph-font: Lato, Helvetica, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #7592BC;  /* headlines on a white background */ 
  --headline-color-on-color: white; /* headlines on a colored background */ 
  --paragraph-color-on-white: #7592BC; /* paragraph text on a white background */ 
  --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
  --paragraph-background-color: #7592BC  ;
  --nav-link-color: #F5FAFF;
  --nav-background-color: #008A5F;
  --nav-hover-link-color: white;
  --nav-hover-background-color: #33C191;
}

.home-card.heart{
    grid-column: 3/4;
    grid-row: 2/3;
}
.home-card.nutrient{
    grid-column: 3/4;
    grid-row: 3/4;
}
.home-card.handcrafted{
    grid-column: 3/4;
    grid-row: 4/5;
}
.home-card.peasant{
    grid-column: 3/4;
    grid-row: 5/6;
}
.home-card .card-img{
    width: 50px;
    float: left;
    margin-right: 5px;
}


p{
    font-family:var(--paragraph-font);
}
h1, h2, h3 {
    font-family: var(--heading-font);
}
#content{
    max-width: 1400px;
    margin: 0 auto;
}

header{
    display: grid;
    grid-template-columns: 150px auto;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a{
    display: flex;
    justify-content: space-around;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
nav a, #hero-msg h1, #hero-msg h4, .hero-btn-box, main section{
    text-align: center;
}
nav a, .join, footer a{
    text-decoration: none;
}

.hero-btn-box{
    margin-bottom: 15px;
}
.book-btn, .join{
    text-decoration: none;
    padding: 12px;
    color: var(--nav-hover-link-color);
    background-color: var(--secondary-color);
    font-size: 16px;
    padding: 12px 20px;
    margin-top: 50px;
    margin-bottom: 150px;
    border-radius: 5px;
    cursor:pointer;
}
.book-btn:hover, .join:hover{
    text-decoration: none;
    padding: 12px;
    color: var(--nav-hover-link-color);
    background-color: var(--nav-background-color);
    font-size: 16px;
    padding: 12px 20px;
    margin-top: 50px;
    margin-bottom: 150px;
    border-radius: 5px;
}

.card-img {
    transition: transform .5s;
    border-radius: 10px;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
          
main section img {
    box-sizing: border-box;
}

.rivers-card, .camping-card, .rapids-card{
  margin: 200px 0;
}


#background {
    height: 725px;
    background-color: var(--primary-color);
}

body {
    background-color: var(--accent2-color); 
    color: var(--paragraph-background-color);
    font-size: 16px;
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--nav-background-color);
    line-height: 3em;
    font-size: 1.2em;
}

#logo_link{
    width: 90px;
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
nav a {
    justify-self: center;
    align-self: center;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
  }
  nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
  }

#hero{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);

}
#hero-box {
    grid-column: 2/3;
    grid-row: 2/7;
    z-index: -1;
}
#hero-msg {
    grid-column: 2/4;
    grid-row: 1/2;
}
#hero-msg h4 {
    color: white;
}
#hero-img{
    display: block;
}
.card-img, .mountains {
    width: 100%;
}

.home-grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
.rivers-card {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
  }
  
  .camping-card {
    grid-column: 5 / 7;
    grid-row: 2 / 3;
  }
  
  .rapids-card {
    grid-column: 8 / 10;
    grid-row: 2 / 3;
  }
  
  #background {
    grid-column: 1 / 11;
    grid-row: 4 / 9;
  }
  
  .mountains {
    grid-column: 2 / 7;
    grid-row: 5 / 8;
    box-shadow: 5px 5px 10px var(--accent3-color);
  }
  
  .msg {
    grid-column: 6 / 10;
    grid-row: 6 / 7;
    box-shadow: 5px 5px 10px var(--accent3-color);
    padding: 20px;
  }

.icon {
    width: 80px;
}

footer {
    padding: 25px 50px;
    margin-top: 200px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer,.msg{
    color: var(--accent1-color);
    background-color: var(--accent3-color);
}
.msg p{
    font-size: 14px;
}

footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}    
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-img{
        width: 100%;
        align-self: flex-start;
        margin-left: 0px;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: var(--nav-background-color);
    }
    .title-des {
        font-size: 18px;
        color: var(--nav-hover-background-color);
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}

form {
    margin: 20px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #888888;
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  
  label {
    display: inline-block;
    width: 80px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  textarea, input[type="text"] {
    width: 90%;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: #fff;
    box-shadow: 0px 0px 5px #888888;
    resize: vertical;
  }
  
  input[type="submit"] {
    background-color: var(--primary-color);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: var(--accent3-color);
  }
  .location-map{
    width: 100%;
  }

  .benefits-grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  .benefits-title{
    text-align: center;
    grid-column: 2/5;
  }

  .benefits-main{
    grid-column: 3/4;
    grid-row: 2/5;
  }
  .benefits-card.card1{
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .benefits-card.card2{
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .benefits-card.card3{
    grid-column: 3/4;
    grid-row: 5/6;
  }
  .benefits-card.card4{
    grid-column: 4/5;
    grid-row: 2/3;
  }
  .benefits-card.card5{
    grid-column: 4/5;
    grid-row: 3/4;
  }
.benefits-card img{
    width: 100px;
}